<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
        }

        .product {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .name {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .description {
            color: #666;
            margin-bottom: 20px;
        }

        .price {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        input[type="number"] {
            width: 50px;
            padding: 5px;
            margin-bottom: 20px;
        }

        .buttons {
            display: flex;
            justify-content: center;
        }

        button {
            padding: 10px 20px;
            margin: 0 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #ddd;
        }

        .add-to-cart {
            background-color: #007bff;
            color: #fff;
        }

        .buy-now {
            background-color: #28a745;
            color: #fff;
        }

        .wishlist {
            background-color: #ffc107;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="product">
            <img src="/images/uploads/<%=pro.p_image%>" alt="Product Image">
            <h2 class="name"><%=pro.p_name%></h2>
            <p class="description"><%=pro.p_description%></p>
            <form action="/cart/<%=pro._id%>" method="post">
                <input type="number" id="quantity" name="quant" >
                <button type="submit" class="add-to-cart">Add to Cart</button>
            </form>
            
            <div class="buttons">
                
                <button class="buy-now">Buy Now</button>
                <button class="wishlist">Add to Wishlist</button>
            </div>
        </div>
    </div>
</body>
</html>
